@model CollSys.Matm.Kitabxana.Entities.Tables.ExhibitModel

@{
    ViewData["Title"] = "Delete";
}

<h2 id="caption">K-ƏR EKSPONAT SİL</h2>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Format)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Format)
        </dd>

        @if (Model.InventarNo != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InventarNo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InventarNo)
            </dd>
        }

        @if (Model.DkNo != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DkNo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DkNo)
            </dd>
        }

        @if (Model.UmumiAd != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UmumiAd)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UmumiAd)
            </dd>
        }

        @if (Model.ISBN != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ISBN)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ISBN)
            </dd>
        }
    </dl>

    <form asp-action="Delete">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" value="SİL" class="btn btn-danger btn-block" />
                </div>
            </div>
        </div>
    </form>
</div>
